{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="it">

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
{% endblock head %}

<body>
    {% block content %}
        <div class="centerPage">
            <div class="containerLogin">
                <h1>Log In</h1>
                <p>{{ login_error }}</p>
                <form class="form-login" method="post">
                    {% csrf_token %}
                    {{ form_login.as_p }}
                    <button id="login_button" type="submit">Submit</button>
                </form>
                <p>Nuovo utente? <a href="{% url 'signup' %}">Registrati!</a></p>
            </div>
        </div>
    {% endblock content %}
</body>

</html>