{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="it">

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Registrazione</title>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    </head>
{% endblock head %}

<body>
    {% block content %}
        <div class="centerPage">
            <div class="containerSignup">
                <h1>Sign Up</h1>
                <form class="form-signup" method="post">
                    {% csrf_token %}
                    {{ form_registrazione.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    {% endblock content %}
</body>

</html>