{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="it">

{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Aggiungi Prodotto</title>
        <link rel="stylesheet" href="{% static 'css/newProdotto.css' %}">
    </head>
{% endblock head %}

<body>
    {% block content %}

        <div>
            <button class="fakeButton fake1" onclick="window.location.href='{% url 'vetrina_amministratore' %}'">Torna alla Vetrina</button>
        </div>

        <div class="centerPage">
            <div class="containerNewP">
                <h1>Nuovo prodotto</h1>
                <form class="form-newP filtri" method="post">
                    {% csrf_token %}
                    {{ form_nuovo_prodotto.as_p }}
                    <button id="add_new_product" type="submit">Submit</button>
                </form>

            </div>
        </div>

    {% endblock content %}
</body>

</html>