<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Modifica Prodotto</title>
</head>

<body>
    <h1>Modifica prodotto</h1>
    {% extends 'base.html' %}
    {% block content %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Submit</button>
        </form>
    {% endblock content %}
</body>
</html>