{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Elenco Ordini</title>
     <link rel="stylesheet" type="text/css" href="{% static '/css/recontoOrdini.css' %}">

</head>
{% endblock head %}
<body>

    {% block content %}
    <div>
        <button class="fakeButton fake1" onclick="window.location.href='{% url 'vetrinaAmministratore' %}'">Torna alla Vetrina</button>
    </div>
    <div>
    <h2>Elenco Ordini</h2>
    <table>
    <thead>
        <tr>
            <th>ID Cliente</th>
            <th>Email Cliente</th>
            <th>Nome Cliente</th>
            <th>Numero Ordine</th>
            <th>Data Ordine</th>
            <th>Indirizzo Spedizione</th>
            <th>Importo Totale</th>
        </tr>
        </thead>
        {% for ordine in ordini %}
        <tr>
            <td>{{ ordine.cliente }}</td>
            <td>{{ ordine.cliente.email }}</td>
            <td>{{ ordine.cliente.first_name }}</td>
            <td>{{ ordine.numero_ordine }}</td>
            <td>{{ ordine.data_ordine }}</td>
            <td>{{ ordine.indirizzo_spedizione }}</td>
            <td>{{ ordine.importo_totale }}</td>
            <td><a href="{% url 'dettaglio_ordine' ordine.numero_ordine %}">Dettagli</a></td>
        </tr>
        {% endfor %}

    </table>

    <br><h3>Vendite Prodotti</h3>
    <table class="vendite">
    <thead>
    <tr>
        <th>Nome prodotto</th>
        <th>Tipologia</th>
        <th>Prezzo</th>
        <th>Pezzi venduti</th>
        <th>Totale euro Vendita</th>
    </tr>
    </thead>
    {% for prodotto in prodotti %}
    <tr>
        <td>{{ prodotto.nome }}</td>
        <td>{{ prodotto.tipologia }}</td>
        <td>{{ prodotto.prezzo }}</td>
        <td>{{ prodotto.pezzi_venduti }}</td>
        <td>{{ prodotto.guadagno_totale }}</td>
    </tr>
    {% endfor %}
            <tr id="totale">
                <td colspan="4">Totale</td>
                <td>{{ resoconto_vendite.totale_vendite }}€</td>
        </tr>
</table>
        </div>

    {% endblock content %}
</body>
</html>
