<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vetrina</title>
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}
  <!-- Filtri della vetrina -->
  <form method="GET">
    <input type="text" name="tipologia" placeholder="Filtro per tipologia" value="{{ request.GET.tipologia }}">
    <input type="number" name="disponibilita" placeholder="Filtro per disponibilità" value="{{ request.GET.disponibilita }}">
    <input type="number" name="prezzo_min" placeholder="Prezzo minimo" value="{{ request.GET.prezzo_min }}">
    <input type="number" name="prezzo_max" placeholder="Prezzo massimo" value="{{ request.GET.prezzo_max }}">
    <button type="submit">Filtra</button>
    <a href="?reset_filters=true">Azzeramento filtri</a>
  </form>

  <form method="GET">
      <input type="text" name="search_query" placeholder="Cerca prodotti" value="{{ request.GET.search_query }}">
      <button type="submit">Cerca</button>
  </form>

  <table>
    <tr>
      <td>Nome prodotto</td>
      <td>Tipologia</td>
      <td>Descrizione</td>
      <td>Prezzo</td>
      <td>Quantità</td>
      <td>Azione</td>
    </tr>

  <!-- Istruzioni condizionali utilizzate per filtrare i prodotti in base ai
  parametri di query string presenti nella richiesta-->

  {% for item in prodotti %}
      {% if request.GET.tipologia and item.tipologia != request.GET.tipologia %}
        {% comment %} Ignora questa iterazione del ciclo {% endcomment %}
      {% elif request.GET.disponibilita and item.disponibilita != request.GET.disponibilita %}
        {% comment %} Ignora questa iterazione del ciclo {% endcomment %}
      {% elif request.GET.prezzo_min and item.prezzo < request.GET.prezzo_min %}
        {% comment %} Ignora questa iterazione del ciclo {% endcomment %}
      {% elif request.GET.prezzo_max and item.prezzo > request.GET.prezzo_max %}
        {% comment %} Ignora questa iterazione del ciclo {% endcomment %}
      {% else %}
        <tr>
          <td>{{ item.nome }}</td>
          <td>{{ item.tipologia }}</td>
          <td>{{ item.descrizione }}</td>
          <td>{{ item.prezzo }}</td>
          <td>{{ item.disponibilita }}</td>
          <td>
              <a href="#">Aggiungi al carrello</a>
          </td>
        </tr>
      {% endif %}
  {% endfor %}
  </table>

  {% endblock content %}
</body>
</html>
