<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vetrina Amministratore</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<h2>Vetrina amministratore</h2>
  <table>
  <tr>
    <td>Nome prodotto</td>
    <td>Tipologia</td>
    <td>Descrizione</td>
    <td>Prezzo</td>
    <td>Quantità disponibile</td>
    <td>Azione</td>
  </tr>
</table>
{% for prodotto in prodotti %}
    <tr>
        <td>{{ prodotto.nome }}</td>
        <td>{{ prodotto.tipologia }}</td>
        <td>{{ prodotto.descrizione }}</td>
        <td>{{ prodotto.prezzo }}</td>
        <td>{{ prodotto.disponibilita }}</td>
        <td><a href="{% url 'rimuoviProdotto' prodotto.nome|stringformat:'s' %}">Rimuovi prodotto</a></td>
        <td><a href="{% url 'modificaProdotto' prodotto.nome|stringformat:'s' %}">Modifica prodotto</a></td>
    </tr><br>
{% endfor %}
<form action="{% url 'nuovoProdotto' %}" method="post">
    {% csrf_token %}

    <button type="submit" class="btn btn-primary">Inserisci Prodotto</button>
</form>

{% endblock content %}
</body>
</html>