{% load static %}

<!DOCTYPE html>
<html lang="it">
    {% block head %}
        <head>
            <meta charset="UTF-8">
                <link rel="stylesheet" type="text/css" href="{% static '/css/vetrinaAdmin.css' %}">
                <link rel="stylesheet" href="{% static 'css/login.css' %}">
        </head>
    {% endblock head %}

    <body>
          {% block content %}{% endblock content %}
          {% if user.is_authenticated %}
                <p>Sei loggato come <b id="logged_user">{{ request.user }}</b>. Clicca qui per il <a id="logout_button" href="{% url 'logout' %}">log out</a></p>
          {% endif %}
    </body>
</html>

