<!DOCTYPE html>
<html lang="it">

<head>
    <title>Carrello</title>
    {% extends 'base.html' %}
</head>

<body>
    {% block content %}
    <div>
        <button id="toVetrina" class="fakeButton fake1" onclick="window.location.href='{% url 'vetrina' %}'">Torna alla Vetrina</button>
    </div>
    <h1>Carrello</h1>
    <table id="prodotti_carrello">
        <thead>
            <tr>
                <td>Nome prodotto</td>
                <td>Tipologia</td>
                <td>Quantità</td>
                <td>Azione</td>
                <td>Prezzo</td>
            </tr>
        </thead>

        <tbody>
            {% for prodotto_carrello, form_quantita in carrello %}
                <form action="{%  url 'update_quantita' prodotto_carrello.prodotto.codice_seriale %}" method="POST">
                    {% csrf_token %}
                    <tr id="{{ prodotto_carrello.prodotto.codice_seriale }}">
                        <td>{{ prodotto_carrello.prodotto.nome }}</td>
                        <td>{{ prodotto_carrello.prodotto.tipologia }}</td>
                        <td>
                            <label for="quantita_acquisto">
                                {{ form_quantita.as_div }}
                            </label>
                        </td>
                        <td>
                            <a href="{% url 'rimuovi_dal_carrello' prodotto_carrello.prodotto.codice_seriale %}">Rimuovi</a>
                        </td>
                        <td>{{ prodotto_carrello.importo_totale_prodotto }}€ ({{ prodotto_carrello.prodotto.prezzo }} al pz.)</td>
                    </tr>
                </form>
            {% endfor %}

            <tr id="totale">
                <td colspan="4">Totale</td>
                <td>{{ importo_totale }}€</td>
            </tr>

            <tr id="checkout">
                <td colspan="4"></td>
                <td><button class="fakeButton" onclick="window.location.href='{% url 'ordine' %}'">Checkout</button></td>
            </tr>
        </tbody>

    </table>

  {% endblock content %}
</body>

</html>
